TRITON_URL=http://triton:8000/v2/models/score_model/infer
HOST=0.0.0.0
PORT=8000

# R2 Cloudflare S3 model repository
S3_BUCKET=your-bucket-name
S3_MODEL_PATH=models/score_model
S3_ENDPOINT=account.r2.cloudflarestorage.com
S3_ACCESS_KEY=your-access-key
S3_SECRET_KEY=your-secret-key